<% if notice %>
  <div id="notice" class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>
<div>
</div>
<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Tags', course_tags_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'New Article', new_course_article_path, class:"nav-link" %>
  </li>
</ul>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tags</th>
        <th>Tutorial</th>
        <th>Question</th>
        <th>Answer</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% if @course.articles.size > 0 %>
        <% @course.articles.each do |article| %>
          <tr>
          <td>  
            <% if article.tags.size > 0 %>
              <% article.tags.each do |tag| %>
                <span style="background: #EEE;">
                <%= link_to tag.name, course_tag_path(@course, tag) %>
                </span><br/>
              <% end %>
            <% end %>
          </td>
            <td><%= link_to article.title, course_article_path(@course, article) %></td>
            <td><%= markdown(article.question) %></td>
            <td><%= markdown(article.answer) %></td>
            <td>
              <%= link_to 'Show', course_article_path(@course, article) %> |
              <%= link_to 'Edit', edit_course_article_path(@course, article) %> |
              <%= link_to 'Destroy', course_article_path(@course, article), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <h3>Make a new article</h3>
      <% end %>
    </tbody>
  </table>
<div>
</div>
