    <ul class="nav">
        <li class="nav-item">
                <%= link_to 'Articles', course_articles_path(@course), class:"nav-link" %>
        </li>
        <li class="nav-item">
                <%= link_to 'New article', new_course_article_path, class:"nav-link" %>
        </li>
   </ul>
   <div class="row">
    <div class="card-columns">
        <% @tags.order("name asc").each do |tag| %>
            <% if tag.articles.size > 0 %>
                <div class="card border-info mb-3">
                        <div class="card-body">
                                <h5 class="card-title">
                                    <%= link_to tag.name.titlecase, course_tag_path(@course, tag) %> <span class="badge badge-light badge-pill"><%= tag.articles.size %></span>
                                    <%= link_to "Edit", edit_course_tag_path(@course, tag), class:"btn-sm btn-light" %>
                                    <code>Tags.find(id: <%= tag.id %>)</code>
                                </h5>
                            <% unless tag.description.blank? %>
                                <div class="card-text">
                                    <%= latex_markdown_to_html(tag.description) %>
                                </div>
                            <% end %>
                        </div>
                    </div>
            <% end %>
        <% end %>
        </div>
    </div>