

<ul class="nav">
  <li class="nav-item">
    <%= link_to 'New Course', new_course_path, class:"nav-link" %>
  </li>
  <% @courses.each do |course| %>
    <li class="nav-item">
      <%= link_to course.code.upcase, course_articles_path(course), class:"nav-link" %>
    </li>
  <% end %>
</ul>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Semester</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
      <td><%= link_to course.code.upcase, course_tags_path(course) %></td>
        <td><%= course.title.upcase %></td>
        <td><%= course.semester %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>