<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </head>

  <body>
    <ul class="nav fixed-top">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to 'Articles', articles_path, class:"nav-link" %> 
        </li>
        <li class="nav-item">
        <%= link_to "New Article", new_article_path, class:"nav-link" %></li>
        </li>
      </li>
    </ul>
  <div class="container col-lg-6 col-md-12">
    <%= yield %>
    </div>
  </body>
</html>
